<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
        <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    {% if site.email %}
        <p>Email: {{ site.email }}</p>
    {% endif %}
    {% if site.wechat %}
        <p>Wechat: {{ site.wechat }}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
    
    <!-- Custom Links -->
    {% if site.sidebar-custom-link %}
      <ul>
        {% for link in site.sidebar-custom-link %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>